.container {
  margin: 1.5rem 0 0 2.5rem;
}

.table {
  padding: 24px 40px 24px 40px;
  margin-top: 1rem;
  margin-bottom: 7.5rem;
  width: 95%;
  border-radius: 8px;
  box-shadow: 0px 4px 5px 0px #E9EDF3;
  background-color: white;
}
.calls-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  color: #333;
}
.arrow {
  padding-left: 4px;
}
.calls-table thead {
  text-align: left;
}
.calls-table thead tr th {
  font-size: 14px;
  font-weight: 400 !important;
}
.calls-table td:last-child,
.calls-table th:last-child {
  text-align: right;
  margin-right: 40px;
}
tbody tr {
  height: 4.125rem;
}
.name-partner {
  color: #5E7793;
}
audio {
  height: 3rem;
}
.calls-table th {
  padding: 0.75rem 0;
  color: #5E7793;
}
.calls-table tbody tr {
  border-bottom: 1px solid #e5e9f2;
}

.calls-table tbody tr:last-child {
  border-bottom: none;
}

.calls-table td {
  vertical-align: middle;
}

.call-icon {
  width: 1rem;
  height: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.rating {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 0.25rem;
  font-weight: 500;
}

.excellent {
  background: #e3fcef;
  border: 1px solid #28A879;
  color: #28A879;
}

.good {
  background: #D8E4FB;
  border: 1px solid #ADBFDF;
  color: #122945;
}

.bad {
  background: #fde8e8;
  border: 1px solid #EA1A4F;
  color: #EA1A4F;
}

.calls-table td:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calls-table td:nth-child(3) img {
  margin-top: 1rem;
  border: 2px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
